<div class="container">
  <% @articles.each do |article| %>
    <h1><%= link_to article.title, article_path(article) %></h1>
    <%= link_to 'Edit', edit_article_path(article) %>
    <br>
    <h3><%= article.published_at %></h3>
    <br>
    <p><%= article.content %></p>
  <% end %>
</div>

<%= link_to 'New article', new_article_path %>
